doctype html
html
  head
    title= title
  body
    h1 Custom Objects Table
    a(href='/update-cobj') Add to this table
    br
    table(border="1")
      thead
        tr
          th Name
          th Publisher
          th Price
      tbody
        each obj in objects
          tr
            td= obj.properties.name
            td= obj.properties.publisher
            td= obj.properties.price

    br
    a(href='/update-cobj') Add New Custom Object
