doctype html
html
  head
    title= title
  body
    h1 Custom Objects Table
    a(href='/update-cobj') Add to this table
    br
    table(border="1")
      thead
        tr
          th Company 1
          th Company 2
          th Company 3
      tbody
        each obj in objects
          tr
            td= obj.properties.company1
            td= obj.properties.company2
            td= obj.properties.company3

    br
    a(href='/update-cobj') Add New Custom Object
