doctype html
html
  head
    title= title
  body
    h1 Update Custom Object Form
    form(action="/update-cobj" method="POST")
      label(for="company1") Company 1:
      input(type="text" name="company1" required)
      br

      label(for="company2") Company 2:
      input(type="text" name="company2" required)
      br

      label(for="company3") Company 3:
      input(type="text" name="company3" required)
      br

      button(type="submit") Submit

    br
    a(href='/') Return to the homepage
